/*all text*/
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-p-font: 300 1rem/1.5 'poppins', sans-serif;
	--main-h1-font: 200 3rem/1 'Playfair Display', serif;
	--default-spacing: 10rem;

	--color-default: #fff;
	--color-dark: #112;

	--color-background: #eed;
	--color-foreground: #334;

	--color-text-default: #667;
	--color-text-em: #334;

	
	scroll-behavior: smooth;
}
h2{
	color: #223;
	font: var(--main-p-font);
	font-size: 2rem;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
}
p{
	color: #667;
	font: var(--main-p-font);
}
em{
	color: #445;
	font: var(--main-p-font);
	font-weight: 400;
	font-style: italic;
}
strong{
	color: #445;
	font: var(--main-p-font);
	font-weight: 500;
	font-style: normal;
}

.body{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	min-width: 55rem;/*<------------change this*/
}
.body > *:nth-child(n+3){
	/* outline: 1px solid red; */
	margin-top: var(--default-spacing);
}


.landing__background{
	background-origin: border-box;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--color-foreground);

	height: 100vh;
	min-height: 20rem;
	width: 100%;

	clip-path: ellipse(150% 100% at 0% 0%);/* 70vh at right side*/
}
.landing__content{
	height: 70%;
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.landing__content__title{
	width: 100%;
	margin: 2rem 0 2rem 0;

	color: var(--color-default);

	font: 600 6rem/1.0 'poppins', sans-serif;
	text-align: center;
}
.landing__content__description{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;

	gap: 1rem;
}
.landing__content__description__text{
	margin: 0;
	padding: 0;

	font: 200 2rem/1 'poppins', sans-serif;
	color: var(--color-default);
	text-align: center;
}
.landing__content__description__callToAction{
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;

	color: var(--color-default);
	background-color: rgba(22, 22, 27, 0.5);

	font: 200 1rem/1.0 'poppins', sans-serif;
	text-decoration: none;

	transition: 0.3s ease all;
}
.landing__content__description__callToAction:hover, .landing__content__description__callToAction:focus-visible{
	background-color: var(--color-dark);
}


.header{
	z-index: 1;

	position: sticky;
	top: 0;
	width: 100%;
	padding: 0.5rem 2rem 0.5rem 2rem;
	margin-top: 2rem;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	background-color: #ffffff99;
}
.header__image{
	height: 3rem;
	width: auto;
}
.header__hr{
	width: auto;
	height: 01px;
	border: 0;
	margin: 0.75rem 1rem 0.75rem 1rem;
	flex-grow: 1;

	color: var(--color-foreground);
	background-color: var(--color-foreground);
}
.nav{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	gap: 0rem;

	list-style-type: none;
}
.nav__li{
	position: relative;
	font: 200 1.5rem/1.0 'poppins', sans-serif;
	text-transform: uppercase;
	overflow: visible;

	transition: 0.3s ease-in all;
}
.nav__li__a{
	position: relative;
	margin: 1rem;
	color: var(--color-foreground);
	text-decoration: none;
}
.nav__li_background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(0% at 50% 50%);
	background-color: var(--color-dark);

	transition: 0.3s ease-in all;
}
.nav__li:hover        .nav__li__a,
.nav__li:focus-within .nav__li__a{
	color: var(--color-default);
}
.nav__li:hover        .nav__li_background,
.nav__li:focus-within .nav__li_background{
	clip-path: circle(110% at 50% 50%);
}


.simpleText{
	width: 100%;
	max-width: 60rem;
	margin: 0 auto 0 auto;
	padding: 0 2rem;
	}
.simpleText h1{
	margin-bottom: 6rem;
	text-align: center;
	color: var(--color-text-em);
	font: var(--main-h1-font);
}
.simpleText p{
	text-align: justify;
	color: var(--color-text-default);
	font: var(--main-p-font);
}

.textAndImage{
	margin: 0 auto 0rem auto;
	padding: 0 2rem;
	position: relative;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
}
.textAndImage__banner{
	position: relative;
	left: -10rem;
	width: max-content;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	max-width: calc(100% + 10rem);
	min-width: 30rem;
	background-color: var(--color-foreground);
}
.textAndImage__banner h1{
	margin: 0;
	padding: 0;
	color: var(--color-default);
	font: var(--main-h1-font);
}
.textAndImage__image{
	width: calc( 60% - 3rem );
	flex-grow: 1;
	margin: 0 0 0 auto;
	height: auto;
	object-fit: contain;
	object-position: 50% 00%;
}
.textAndImage__description{
	width: calc( 40% - 3rem );
	flex-grow: 1;
	min-width: 10rem;
	margin: 0 auto 0 0;
	padding: 2rem 2rem 2rem 2rem;
	background-color: var(--color-background);
}
.textAndImage__description h2{
	margin: 0rem 0 3rem 0;
	margin-bottom: 6rem;
	color: var(--color-text-em);
	font: var(--main-h1-font);
}
.textAndImage__description h3{
	margin: 3rem 0 1rem 0;
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-size: 1.2rem;
	font-weight: 400;
	font-style: normal;
}
.textAndImage__description p{
	color: var(--color-text-default);
	font: var(--main-p-font);
}
.textAndImage__description em{
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-weight: 400;
	font-style: italic;
}
.textAndImage__description strong{
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-weight: 400;
	font-style: bold;
}



.grid{
	margin: 6rem 8rem;
	row-gap: 2rem;
	column-gap: 10%;
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto;
	grid-auto-rows: auto;
	grid-auto-flow: row;
}
.grid__article{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	cursor: pointer;
}
.grid__article__img{
	width: 100%;
	margin-bottom: 0.5rem;
	object-fit: cover;
	max-height: 80vw;
	border: 3px solid var(--color-default);
	outline: 1px solid var(--color-dark);
}
.grid__article p{
	font: var(--main-p-font);
	color: var(--color-dark);
	font-size: 0.75rem;
	line-height: 1.0;
}
.grid__article strong{
	font: var(--main-h1-font);
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 400;
	color: var(--color-dark);
}












.hr{
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 4rem 0 4rem;
}
.hr__line{
	height: 0;
	width: auto;
	flex-grow: 1;
	margin: 0 2rem 0 0 ;
	border: none;
	border-bottom: 1px solid var(--color-dark);
}
.hr__text{
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: auto 0 0 0;
	font: 200 1rem/1.0 'poppins', sans-serif;
	text-transform: uppercase;
	color: var(--color-text-default);
	transition: 0.3s ease all;
}
.hr__link{
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: auto 0 0 0;
	font: 200 1rem/1.0 'poppins', sans-serif;
	text-transform: uppercase;
	color: var(--color-text-default);
	transition: 0.3s ease all;
}
.hr__link:hover, .hr__link:focus{
	color: var(--color-background);
	background-color: var(--color-dark);
}


.collapsibleText{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	margin: 0;
}


.collapsibleText__content{
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	max-width: 64rem;
	margin: 0 auto;

	max-height: 15rem;
	min-height: 8rem;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	padding: 0rem 2rem 2rem 2rem;
	transition: 0.3s linear all 0.0s;
}
.collapsibleText__content[open]{
	max-height: 999rem;
}
.collapsibleText__fading{
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
	height: 4rem;
	background: linear-gradient(0deg, #fff 0%, #eeeedd00 100%);
}
.collapsibleText__content[open] .collapsibleText__fading{
	height: 0;
}
.moreOrLess{
	position: absolute;
	bottom: 0rem;
	left: 0;
	width: 100%;
	height: 2rem;
	background-color: #fff;
}
.more{
	display: block;
	position: absolute;
	bottom: 0;
	left: 2rem;
	text-align: left;
	color: #667;
	font: var(--main-p-font);
}
.less{
	display: none;
	position: absolute;
	bottom: 0;
	left: 2rem;
	text-align: left;
	color: #667;
	font: var(--main-p-font);
}
.collapsibleText__content[open] .more{
	display: none;
}
.collapsibleText__content[open] .less{
	display: block;
}
.collapsibleText__content__text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: stretch;
}
.collapsibleText__content__text img{
	width: 40rem;
	height: auto;
	margin: 1rem auto 3rem auto;
}
.collapsibleText__content__text p{
	font: var(--main-p-font);
	text-align: justify;
	color: var(--color-text-default);
	margin: 0;
	margin-bottom: 0.5rem;
}
.collapsibleText__content__text a{
	text-decoration: underline;
	text-decoration-color: #66b;
	color: #66b;
}
.collapsibleText__content__text h1{
	margin: 1rem 0 2rem 0;
	text-align: left;
	color: var(--color-dark);
	font: var(--main-h1-font);
}
.collapsibleText__content__text h2{
	margin: 1rem auto 1rem 0;
	text-align: left;
	color: var(--color-text-default);
	font: var(--main-h1-font);
	font-size: 2rem;
}
.collapsibleText__content__text strong{
	text-align: justify;
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-weight: 500;
}

.fancyText{
	width: 100%;
	margin: 0 auto 0 auto;
	max-width: 64rem;
	padding: 7rem 2rem 4rem 2rem;
	background-color: var(--color-background);
	position: relative;
}
.fancyText__banner{
	position: absolute;
	left: -4rem;
	top: 2rem;
	margin: 0;
	background-color: var(--color-foreground);
	padding: 1rem 2rem;
	min-width: 30rem;
	color: var(--color-default);
	font: var(--main-h1-font);
	text-transform: uppercase;
}
.fancyText h2{
	margin: 1rem auto 2rem 0;
	text-align: left;
	color: var(--color-text-em);
	font: var(--main-h1-font);
}
.fancyText p{
	text-align: justify;
	color: var(--color-text-default);
	font: var(--main-p-font);
}
.fancyText strong{
	text-align: justify;
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-weight: 500;
}

.footer{
	width: 100%;
	padding: 0 0 4rem 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.footer__top{
	width: 100%;
	padding: 0 2rem 2rem 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: stretch;
	gap: 1rem;
}
.footer__top__img{
	width: 2rem;
	height: 2rem;
	transition: 0.3s ease all 0.0s;
}
.footer__top__img:focus ,
.footer__top__img:hover{
	filter: invert(1.0);
}
.footer__top__hr{
	height: 0;
	width: auto;
	border: none;
	border-bottom: 1px solid var(--color-dark);
}
.footer__top__hr--right{
	width: 2rem;
	flex-grow: 0;
}
.footer__top__hr--left{
	width: auto;
	flex-grow: 1;
}
.footer__body{
	width: 100%;
	padding: 0 4rem;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: stretch;
	gap: 2rem;
}
.footer__body__info{
	margin-right: auto;
}
.footer__body__info h3{
	margin: 0.5rem;
	font: var(--main-p-font);
	font-size: 1.25rem;
	line-height: 1;
}
.footer__body__info p{
	margin: 0.5rem;
	font: var(--main-p-font);
	font-size: 0.75rem;
	line-height: 1;
	color: var(--color-dark);
}
.footer__body__link{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: stretch;
}
.footer__body__link h3{
	margin: 0.5rem;
	font: var(--main-p-font);
	font-size: 1.25rem;
	line-height: 1;
}
.footer__body__link ul{
	padding-left: 0;
	margin: 0.5rem;
	list-style-position: inside;
}
.footer__body__link ul li a{
	margin-bottom: 0.5rem;
	font: var(--main-p-font);
	font-size: 0.75rem;
	line-height: 1;
	text-decoration: none;
	color: var(--color-dark);
}
.footer__body__link ul li a:hover ,
.footer__body__link ul li a:focus{
	text-decoration: underline;
}
