/*all text*/
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-p-font: 300 1rem/1.5 'poppins', sans-serif;
	--main-h1-font: 200 3rem/1 'Playfair Display', serif;
	--default-spacing: 10rem;

	--color-default: #fff;
	--color-dark: #112;

	--color-background: #eed;
	--color-foreground: #334;

	--color-text-default: #667;
	--color-text-em: #334;

	
	scroll-behavior: smooth;
}
h2{
	color: #223;
	font: var(--main-p-font);
	font-size: 2rem;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
}
p{
	color: #667;
	font: var(--main-p-font);
}
em{
	color: #445;
	font: var(--main-p-font);
	font-weight: 400;
	font-style: italic;
}
strong{
	color: #445;
	font: var(--main-p-font);
	font-weight: 500;
	font-style: normal;
}

.body{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	min-width: 55rem;/*<------------change this*/
}
.body > *:nth-child(n+3){
	/* outline: 1px solid red; */
	margin-top: var(--default-spacing);
}


.landing__background{
	background-origin: border-box;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--color-foreground);

	height: 100vh;
	min-height: 20rem;
	width: 100%;

	clip-path: ellipse(150% 100% at 0% 0%);/* 70vh at right side*/
}
.landing__content{
	height: 70%;
	width: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.landing__content__title{
	width: 100%;
	margin: 2rem 0 2rem 0;

	color: var(--color-default);

	font: 600 6rem/1.0 'poppins', sans-serif;
	text-align: center;
}
.landing__content__description{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;

	gap: 1rem;
}
.landing__content__description__text{
	margin: 0;
	padding: 0;

	font: 200 2rem/1 'poppins', sans-serif;
	color: var(--color-default);
	text-align: center;
}
.landing__content__description__callToAction{
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;

	color: var(--color-default);
	background-color: rgba(22, 22, 27, 0.5);

	font: 200 1rem/1.0 'poppins', sans-serif;
	text-decoration: none;

	transition: 0.3s ease all;
}
.landing__content__description__callToAction:hover, .landing__content__description__callToAction:focus-visible{
	background-color: var(--color-dark);
}


.header{
	z-index: 1;

	position: sticky;
	top: 0;
	width: 100%;
	padding: 0.5rem 2rem 0.5rem 2rem;
	margin-top: 2rem;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	background-color: #ffffff99;
}
.header__image{
	height: 3rem;
	width: auto;
}
.header__hr{
	width: auto;
	height: 01px;
	border: 0;
	margin: 0.75rem 1rem 0.75rem 1rem;
	flex-grow: 1;

	color: var(--color-foreground);
	background-color: var(--color-foreground);
}
.nav{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	gap: 0rem;

	list-style-type: none;
}
.nav__li{
	position: relative;
	font: 200 1.5rem/1.0 'poppins', sans-serif;
	text-transform: uppercase;
	overflow: visible;

	transition: 0.3s ease-in all;
}
.nav__li__a{
	position: relative;
	margin: 1rem;
	color: var(--color-foreground);
	text-decoration: none;
}
.nav__li_background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(0% at 50% 50%);
	background-color: var(--color-dark);

	transition: 0.3s ease-in all;
}
.nav__li:hover        .nav__li__a,
.nav__li:focus-within .nav__li__a{
	color: var(--color-default);
}
.nav__li:hover        .nav__li_background,
.nav__li:focus-within .nav__li_background{
	clip-path: circle(110% at 50% 50%);
}


.simpleText{
	width: 100%;
	max-width: 60rem;
	margin: 0 auto 0 auto;
	padding: 0 2rem;
	}
.simpleText h1{
	margin-bottom: 6rem;
	text-align: center;
	color: var(--color-text-em);
	font: var(--main-h1-font);
}
.simpleText p{
	text-align: justify;
	color: var(--color-text-default);
	font: var(--main-p-font);
}

/*
.header__bar__nav__li__ul{
	display: flex;
	overflow: hidden;
	position: fixed;
	width: calc( 100% - 4rem );
	height: 0;
	min-height: 2rem;
	top: 2.5rem;
	right: 100vw;
	background-color: #112;
	list-style: none;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 1rem 2rem;
	transition: height 0.3s ease-in-out 0.1s ,
	right 0.3s step-end 0.1s;
	*/ /* move to the side only at the end when done hivering */ /*
}
.header__bar__nav__li:hover .header__bar__nav__li__ul,
.header__bar__nav__li:focus-within .header__bar__nav__li__ul{
	height: calc( 100% - 6rem);
	right: 2rem;
	overflow: auto;
	transition: height 0.3s ease-in-out 0s,
	right 0s step-start 0s;
	*/ /* move to center instantly when hovering */ /* 
}
.header__bar__nav__li__ul li{
	padding: 0 0.5rem 0 0.5rem;
	margin: 0.5rem 0 0.5rem 0;
	transition: all 0.3s ease 0.0s;
	font: 200 1.5rem/1.0 'poppins', sans-serif;
}
.header__bar__nav__li__ul li a{
	color: #ccd;
	text-decoration: none;
	transition: all 0.3s ease 0.0s;
}
.header__bar__nav__li__ul li:hover,
.header__bar__nav__li__ul li:focus{
	background-color: #fff;
}
.header__bar__nav__li__ul li:hover a,
.header__bar__nav__li__ul li:focus a{
	color: #112;
}*/




/* 
.description{
	height: auto;
	width: 100%;
	padding: 2rem;
}
.description__background{
	width: 100%;
	border-radius: 0.5rem;
	background-color: #11111111;
	padding: 4rem 2rem 4rem 2rem;
}
.description__text{
	width: 100%;
	max-width: 950px;
	margin: 0 auto 0 auto;
	color: white;
	font: 200 1rem/2 'poppins', sans-serif;
} */

/* 
.mainBody{
	background-color: #fff;
} */


.textAndImage{
	margin: 0 auto 0rem auto;
	position: relative;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
}
.textAndImage__banner{
	position: absolute;
	left: calc( 60% - 6rem );
	top: 2rem;
	padding: 1rem 2rem;
	max-width: calc( 40% + 6rem );
	min-width: 30rem;
	background-color: var(--color-foreground);
}
.textAndImage__banner h1{
	margin: 0;
	padding: 0;
	color: var(--color-default);
	font: var(--main-h1-font);
}
.textAndImage__image{
	width: calc( 60% - 3rem );
	margin: 0 0 0 auto;
	height: auto;
	object-fit: contain;
	object-position: 50% 00%;
}
.textAndImage__description{
	width: calc( 40% - 3rem );
	min-width: 10rem;
	margin: 0 auto 0 0;
	padding: 7rem 2rem 2rem 2rem;
	background-color: var(--color-background);
}
.textAndImage__description h2{
	margin: 1rem 0 3rem 0;
	margin-bottom: 6rem;
	color: var(--color-text-em);
	font: var(--main-h1-font);
}
.textAndImage__description h3{
	margin: 3rem 0 1rem 0;
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-size: 1.2rem;
	font-weight: 400;
	font-style: normal;
}
.textAndImage__description p{
	color: var(--color-text-default);
	font: var(--main-p-font);
}
.textAndImage__description em{
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-weight: 400;
	font-style: italic;
}
.textAndImage__description strong{
	color: var(--color-text-em);
	font: var(--main-p-font);
	font-weight: 400;
	font-style: bold;
}



.grid{
	margin: 6rem 8rem;
	row-gap: 2rem;
	column-gap: 10%;
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto;
	grid-auto-rows: auto;
	grid-auto-flow: row;
}
.grid article{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
}
.grid img{
	width: 100%;
	object-fit: contain;
	max-height: 80vw;
}
.grid p{
	font: var(--main-p-font);
	color: #223;
	font-size: 0.75rem;
	line-height: 1.0;
}
.grid strong{
	font: var(--main-h1-font);
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 400;
	color: #000;
}
a{
	text-decoration: none;
}














.mainExposition{/*-----------------*/
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	margin: 0;
}
.mainExposition__header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 4rem 0 4rem;
}
.underline{
	height: 0;
	border: none;
	border-bottom: 1px solid #334;
	width: auto;
	flex-grow: 1;
	margin: 0 2rem 0 0 ;
}
.mainExposition__header__link{
	font: 200 1rem/1.0 'poppins', sans-serif;
	text-transform: uppercase;
	color: #556;
	margin: auto 0 0 0;
	transition: 0.3s ease all;
	display: inline-block;
	padding: 0.5rem 1rem;
}
.mainExposition__header__link:hover, .mainExposition__header__link:focus{
	color: #ccd;
	background-color: #112;
}
.mainExposition__header__link__a{
	text-decoration: none;
	color: inherit;
}
/* .mainExposition__header__link__a::after{
	content: '   >>';
} */
.mainExposition__body{
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	max-width: 64rem;
	margin: 0 auto 02rem auto;

	max-height: 15rem;
	min-height: 8rem;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	padding: 0rem 2rem 2rem 2rem;
	transition: 0.3s linear all 0.0s;
}
.mainExposition__body[open]{
	max-height: 999rem;
}
.fading{
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
	height: 4rem;
	background: linear-gradient(0deg, #fff 0%, #eeeedd00 100%);
}
.mainExposition__body[open] .fading{
	height: 0;
}
.moreOrLess{
	position: absolute;
	bottom: 0rem;
	left: 0;
	width: 100%;
	height: 2rem;
	background-color: #fff;
}
.more{
	display: block;
	position: absolute;
	bottom: 0;
	left: 2rem;
	text-align: left;
	color: #667;
	font: var(--main-p-font);
}
.less{
	display: none;
	position: absolute;
	bottom: 0;
	left: 2rem;
	text-align: left;
	color: #667;
	font: var(--main-p-font);
}
.mainExposition__body[open] .more{
	display: none;
}
.mainExposition__body[open] .less{
	display: block;
}
.mainExposition__body__description{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: stretch;
}
.mainExposition__body__description img{
	width: 40rem;
	height: auto;
	margin: 1rem auto 3rem auto;
}
.mainExposition__body__description p{
	font: var(--main-p-font);
	text-align: justify;
	color: #667;
	margin: 0;
	margin-bottom: 0.5rem;
}
.mainExposition__body__description a{
	text-decoration: underline;
	text-decoration-color: #66b;
	color: #66b;
}
.mainExposition__body__description h1{
	margin: 1rem 0 2rem 0;
	text-align: left;
	color: #334;
	font: var(--main-h1-font);
}
.mainExposition__body__description b , .mainExposition__body__description strong{
	text-align: justify;
	color: #445;
	font: var(--main-p-font);
	font-weight: 500;
}



.newsletter{
	width: 100%;
	margin: 0 auto 0 auto;
	max-width: 64rem;
	padding: 7rem 2rem 4rem 2rem;
	background-color: #eed;
	position: relative;
}
.newsletter__header{
	position: absolute;
	margin: 0;
	left: -4rem;
	top: 2rem;
	background-color: #334;
	padding: 1rem 2rem;
	min-width: 30rem;
	color: #eed;
	font: var(--main-h1-font);
	text-transform: uppercase;
}
.newsletter h2{
	margin: 1rem auto 2rem 0;
	text-align: left;
	color: #334;
	font: var(--main-h1-font);
}
.newsletter p{
	text-align: justify;
	color: #667;
	font: var(--main-p-font);
}
.newsletter b , .newsletter strong{
	text-align: justify;
	color: #445;
	font: var(--main-p-font);
	font-weight: 500;
}










.footer{
	width: 100%;
	padding: 0 0 4rem 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.footer__top{
	width: 100%;
	padding: 0 2rem 2rem 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: stretch;
	gap: 1rem;
}
.footer__top__img{
	width: 2rem;
	height: 2rem;
	transition: 0.3s ease all 0.0s;
}
.footer__top__img:focus ,
.footer__top__img:hover{
	filter: invert(1.0);
}
.footer__top__hr{
	height: 0;
	width: auto;
	border: none;
	border-bottom: 1px solid var(--color-dark);
}
.footer__top__hr--right{
	width: 2rem;
	flex-grow: 0;
}
.footer__top__hr--left{
	width: auto;
	flex-grow: 1;
}
.footer__body{
	width: 100%;
	padding: 0 4rem;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: stretch;
	gap: 2rem;
}
.footer__body__info{
	margin-right: auto;
}
.footer__body__info h3{
	margin: 0.5rem;
	font: var(--main-p-font);
	font-size: 1.25rem;
	line-height: 1;
}
.footer__body__info p{
	margin: 0.5rem;
	font: var(--main-p-font);
	font-size: 0.75rem;
	line-height: 1;
	color: var(--color-dark);
}
.footer__body__link{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: stretch;
}
.footer__body__link h3{
	margin: 0.5rem;
	font: var(--main-p-font);
	font-size: 1.25rem;
	line-height: 1;
}
.footer__body__link ul{
	padding-left: 0;
	margin: 0.5rem;
	list-style-position: inside;
}
.footer__body__link ul li a{
	margin-bottom: 0.5rem;
	font: var(--main-p-font);
	font-size: 0.75rem;
	line-height: 1;
	text-decoration: none;
	color: var(--color-dark);
}
.footer__body__link ul li a:hover ,
.footer__body__link ul li a:focus{
	text-decoration: underline;
}
